html {
    font-family: 'Raleway', sans-serif;
    color: hsl(229, 7%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31em;
}

.opciones {
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px 90px 15px 15px;
    padding: 40px 120px 40px 50px;
}

.div-iconos {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(229, 57%, 11%);
    height: 55px;
    width: 55px;
    margin: 5px;
    border-radius: 10px;
}

.progress {
    display: flex;
    width: 100%;
    height: 1em;
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    margin-top: 20px;
}

.progress-color {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 1em;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.circle {
    background-color: white;
    height: .8em;
    width: .8em;
    border-radius: .8em;
    margin-right: 2px;
}

.almacenamiento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px;
    height: 6em;
    width: 30em;
    margin-left: 30px;
    padding: 35px;
    color: hsl(243, 100%, 93%);
}

.resumen{
    width: 100%;
}
.almacenamiento-espaciado{
    display: flex;
    justify-content: space-between;
}

@media(max-width:375px) {
    body {
        background-image: url('./images/bg-mobile.png');
    }
}

@media(min-width:376px) {
    body {
        background-color: hsl(229, 57%, 11%);
        background-image: url('./images/bg-desktop.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
    }
}